<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/s/css/common.css">
    <link rel="stylesheet" href="/s/css/auth/login.css">

    <title>Sign In</title>
</head>

<body>
  <main class="container">
    <article class="mb-0">
      <h1 class="centered">Sign In</h1>
      <div class="grid">
        <form class="mb-0" action="/auth/login" method="post">
          <input class="rounded centered" type="email" id="user" name="user" placeholder="Username" required>
          <input class="rounded centered" type="password" id="pwd" name="pwd" placeholder="Password" required>
          <button class="rounded" type="submit">Sign in</button>
          <input type="hidden" name="client_id" value="{{.ClientID}}">
          <input type="hidden" name="redirect_uri" value="{{.RedirectURI}}">
          <input type="hidden" name="scope" value="{{.Scope}}">
          <input type="hidden" name="state" value="{{.State}}">
          <input type="hidden" name="challenge" value="{{.Challenge}}">
          <input type="hidden" name="challenge_mode" value="{{.ChallengeMethod}}">
        </form>
        <div class="v-frame">
          {{if .QREnabled}}
          <img class="qrcode" src="./qrcode" />
          {{else}}
          <div class="h-frame no-qrcode">
            <p class="mb-0 centered no-qr-warning">QR Code Disabled</p>
          </div>
          {{end}}
          <div class="headings">
            <h4 class="mt-1 centered">Log in using QR Code</h3>
            <p class="centered">Scan this code from your mobile device to quickly login.</p>
          </div>
        </div>
      </div>
    </article>
  </main>
  <div class="container centered">
    <sup><a href="https://shiftylogic.dev/">Designed by Shifty Logic!</a></sup>
  </div>
  <script src="/s/js/common.js"></script>
  <script src="/s/js/auth/login.js"></script>
</body>
</html>
